.header{
  display: flex;
  gap:40px;
  padding:16px var(--side-padding);
  animation-name:slide-in-top;
  animation-duration:1s;
  animation-delay:1s;
  animation-fill-mode:forwards;
  position:fixed;
  top:0;
  right:0;
  left:0;
  width:100%;
  z-index: 1;
  transform:translateY(-100%);
  background-color: white;
  transition-property: background-color;
  transition-duration: 1s;
}
.headerTop{
  background-color: rgba(255, 255, 255, 0);
}
.headerBottom{
  background-color: rgba(255, 255, 255, 0.7);
}
.links{
  text-decoration: none;
  font-size:1rem;
}
.linksTop{
  color:white
}
.linksBottom{
  color:#0AA0D0;
}
.home{
  margin-right:auto;
}
@keyframes slide-in-top{
  from{
    transform:translateY(-100%)
  }
  to{
    transform:translateY(0%)
  }
}
