*{
  --skew:skew(0deg,-5deg)
}

.container{
  animation-name:slide-in-bottom;
  animation-duration:1s;
  animation-delay:1s;
  animation-fill-mode:forwards;
  height:200vh;
  transform:translateY(100vh);
  position:relative;
  margin-top:-30vh;
}
.background{
  background-color: rgb(240, 240, 240);
  height:120%;
  width:100%;
  position:absolute;
  margin-top:-5vh;
  transform:var(--skew);
}
.content{
  position:relative;
  z-index: 2;
}
@keyframes slide-in-bottom{
  from{
    transform:translateY(100vh) ;
  }
  to{
    transform:translateY(0);
  }
}