
.container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom:50px;
  padding-top:60px;
}
.title{
  font-size:1.5rem;
  font-weight:normal;
}
.underline{
  border-bottom:3px solid blue;
  height:15px;
  width:50px;
}