*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  --side-padding:17%;
  font-family:sans-serif
}
.body{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
@media(max-width:600px){
  *{
    --side-margin:5%;
  }
}


